/.zig-cache
/zig-cache
/zig-out
/lib
*.spv
*.exe
/src/shaders/out
/com

/examples/zig-out
/examples/com
/examples/lib
/examples/.zig-cache
/xfit-docs

!zip_x86_64.exe
!zip_aarch64.exe
.cursorrules
*.log
